<mat-card class="max-w-md mx-auto mt-16">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="flex flex-col" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          matInput
          required
          formControlName="email"
          placeholder="Email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          required
          formControlName="password"
          placeholder="Password"
          type="password"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </form>
  </mat-card-content>
</mat-card>

<code>{{ allUsers$ | async | json }}</code> <br />
----------------------------------------------------<br /><br />
<code>{{ oneUser$ | async | json }}</code> <br />
----------------------------------------------------<br /><br />
<code>{{ manyUsers$ | async | json }}</code> <br />
